nav.navbar(style="background-color: #4BC6B9")
    a.text-white.navbar-brand(href="/") Home
    //- a.navbar-brand(href="/balance") Balance
    a.text-white.navbar-brand(href="/transfer") Fund Transfer
    a.text-white.navbar-brand(href="/deposit") Deposit
    a.text-white.navbar-brand(href="/withdraw") Withdraw
    a.text-white.navbar-brand(href="/history") Transaction History 
    a.text-white.navbar-brand(href="/bills") Bills Payment